<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div class="header">
			<div class="navheader"></div>
			<div class="nav">
				<div class="navList">
					<div class="link"><a href="/">首页</a></div>

					<% for(let i=0;i<cataorys.length;i++){ %>
						<div class="link"><a href="/c/<%=cataorys[i].id%>/page/1"><%=cataorys[i].cataory%></a></div>

					<%}%>
					
					<div class="search">
						<input type="text" id="search">
						<button class="searchBtn"><span class="icon"></span><span class="text">搜索</span></button>
					</div>
				</div>
			</div>
		</div>
		<div class="contentMain">
			<div class="content">
				<div class="bookList">
					<% for(let i=0;i<books.length;i++){ %>
						<a href="/books/<%-books[i].id%>">
							<div class="bookItem">
								<img class="bookImg" src="<%-books[i].bookimg%>" >
								<h3 class="title"><%-books[i].bookname%></h3>
								<p class="author"><%-books[i].author%></p>
								<div class="cataory"><%-books[i].cataory%></div>
							</div>
						</a>
					<%}%>
					
				</div>
				<div class="erweima">
					<img src="https://sobooks.cc/wp-content/themes/Git/assets/img/hygz.jpg" >
				</div>
			</div>
			<div class="fenpage">
				<div class="pageBtns">
					<% if(page>1){ %>
						<a href="/c/<%=cid%>/page/<%=(page-1)%>">上一页</a>
					<% } %>

					<% for(let i = startPage;i<=endPage;i++){ %>
						<a <% if(page==i){ %> class="active" <%}%>  href="/c/<%=cid%>/page/<%=i%>"><%=i%></a>

					<%}%>

					<% if(page<pageAll){ %>
						<a href="/c/<%=cid%>/page/<%=(page+1)%>">下一页</a>
					<% } %>
				</div>
				<div class="allConut">共<%=pageAll%>页</div>


			</div>
		</div>

	<script>
	
		var searchBtn = document.querySelector(".searchBtn");
		searchBtn.onclick = function(e){
			let value = document.querySelector("#search").value;
			location.href = "/search/"+value+"/page/1";
		}
	</script>
	</body>
</html>
