<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    横杠相当于v-html =相当于v-text
    <h1>横杠(-)的插入方式</h1>
    <div>
      <%- articleTitle %>
    </div>
    <h1>等号(=)的插入方式</h1>
    <div>
      <%= articleTitle %>
    </div>
  </body>
</html>
